In [2]:
import numpy as np

In [3]:
arr = np.random.rand(9,9)

In [9]:
(r,c) = arr.shape

In [26]:
rc=[]
cc=[]

In [27]:
for i in range(r):
    rc=[]
    for j in range(c):
        rc.append((i+j))      
    cc.append(rc)
    print(rc)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8, 9, 10, 11, 12]
[5, 6, 7, 8, 9, 10, 11, 12, 13]
[6, 7, 8, 9, 10, 11, 12, 13, 14]
[7, 8, 9, 10, 11, 12, 13, 14, 15]
[8, 9, 10, 11, 12, 13, 14, 15, 16]

In [30]:
import pandas as pd

In [43]:
s = pd.read_excel(r'C:\Users\magggi\Desktop\sudoku.xlsx')

In [44]:
s.set_index(s['x'],inplace=True)

In [54]:
s=s.drop('x',axis='columns')

In [196]:
cols = s.columns.to_list()

In [244]:
col_wise_index =[]
for i in cols:
    p=s[i].values.tolist()
    print(p)
    p=set(p)-{0}
    col_wise_index.append((i,len(p)))

[9, 4, 0, 0, 6, 0, 0, 7, 0]
[2, 6, 1, 5, 7, 0, 9, 0, 0]
[0, 0, 0, 0, 2, 0, 6, 0, 1]
[6, 0, 7, 0, 0, 2, 3, 0, 0]
[1, 0, 0, 7, 0, 0, 2, 0, 6]
[0, 3, 0, 8, 0, 6, 0, 0, 4]
[0, 0, 9, 2, 5, 0, 0, 6, 0]
[0, 0, 0, 0, 8, 0, 1, 0, 9]
[0, 0, 6, 0, 0, 3, 4, 0, 0]

In [245]:
row_wise_index =[]
for i in cols:
    p=s.loc[i].values.tolist()
    p=set(p)-{0}
    row_wise_index.append((i,len(p)))

In [246]:
col_wise_index.sort(key = lambda x:x[1] ,reverse =True)
row_wise_index.sort(key = lambda x:x[1], reverse=True )
row_wise_index,col_wise_index

([('g', 6),
  ('e', 5),
  ('a', 4),
  ('c', 4),
  ('d', 4),
  ('i', 4),
  ('b', 3),
  ('f', 3),
  ('h', 2)],
 [('b', 6),
  ('a', 4),
  ('d', 4),
  ('e', 4),
  ('f', 4),
  ('g', 4),
  ('c', 3),
  ('h', 3),
  ('i', 3)])

In [247]:
col= s[col_wise_index[0][0]].to_list()
col= set(col)-{0}

In [259]:
col= s[col_wise_index[0][0]].to_list()
col

[2, 6, 1, 5, 7, 0, 9, 0, 0]

In [268]:
col= s[col_wise_index[0][0]].to_list()
zeros=[]
for i,j in enumerate(col):
    if j==0:
        zeros.append(i)
zeros

[5, 7, 8]

In [270]:
row= s.iloc[5]
row= set(row)-{0}

In [271]:
cubes = s.loc['a':'c','a':'c']

In [272]:
x = cubes.values.tolist()

In [273]:
z=[]
for  i in x:
    for j in i:
        z.append(j)

In [274]:
z=set(z)-{0}

In [275]:
z

{1, 2, 4, 6, 9}

In [276]:
total =set([1,2,3,4,5,6,7,8,9])

In [277]:
dd = total - col - row - z

TypeError: unsupported operand type(s) for -: 'set' and 'list'

In [195]:
dd

{3, 5, 8}